:host {
	display: inline-flex;
	flex-flow: column nowrap;
	
	//display: block;
	margin-left: 2rem;
	cursor: pointer;
	
	.title {
		display: flex;
		flex-direction: row;
		align-items: center;
		.icon {
			margin-right: .5rem;
		}
		.caption {
			color: blue;
		}
	}

	.caption {
		padding: .1rem .2rem;
	}
	
	&.folder { //opened, &.closed, &.empty {
		.icon {
			box-sizing: content-box;
			width: 1.25rem;
			height: 1.25rem;
			border: 1px solid #000;
			display: block;
			position: relative;
		}
	
		&:not(.empty) {
			& > .title:first-child > .icon:before {
				content: '';
				height: 2px;
				width: 80%;
				background-color: #000;
				top: calc(50% - 1px);
				left: 10%;
				position: absolute;
			}
			& > .title:first-child > .icon:after {
				content: '';
				height: 2px;
				width: 80%;
				background-color: #000;
				top: calc(50% - 1px);
				left: 10%;
				position: absolute;
				transform: rotate(0deg);
				transition: .8s;
			}

			&:not(.opened) {
				& > .title:first-child > .icon:after {
					/*
					content: '';
					height: 80%;
					width: 2px;
					background-color: #000;
					left: calc(50% - 1px);
					top: 10%;
					position: absolute;
					*/
					transform: rotate(90deg);
					transition: .8s;
				}
				
				& > *:not(.title) {
					display: none;
				}
			}
		}

		&.empty {
			opacity: .3;
		}
	}

	.selected {
		color: #fff;
		background-color: blue;
	}
}