:host {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: stretch;
	align-items: center;

	input {
		flex: 1 1 auto;
		outline: none;
		border: none;
	}
	img {
		width: 20px;
		height: 20px;
	}
}